#start-btn
{
    width: 40%;
} 
#camera,#result
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 200px;
    height:75px;
    border-radius:15px;
    background-color:rgb(228, 223, 223);
}
#result1,#result2,#result3{
    display:inline;
    height:240px;
}
body{
    background-color:cadetblue;
}
h1{
    color:orange;
}